<div class="dopot_form">

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user form being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>ユーザ情報の入力</legend>

  <div>
    <%= f.label :name %>:
    <%= f.text_field :name, size: 40 %>
  </div>

  <div>
    <%= f.label :password, 'パスワード' %>:
    <%= f.password_field :password, size: 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, '確認' %>:
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <div>
    <%= f.submit %>
  </div>

  </fieldset>
<% end %>
</div>
